<p>EDIT USER</p>
<%= form_for @user do |f| %>
  <%= label_tag(:name, "Name:") %>
  <%= f.text_field(:name) %><br><br>
   <%= label_tag(:email, "email:") %>
  <%= f.text_field(:email) %><br><br>
   <%= label_tag(:password, "password:") %>
  <%= f.text_field(:password) %><br><br>
  <%= submit_tag("submit") %>
<% end %>
